* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: local('Inter'), url('https://fonts.cdnfonts.com/s/19795/Inter-Thin-BETA.woff') format('woff');
}

@font-face {
    font-family: 'Bigilla';
    font-style: normal;
    font-weight: 400;
    src: local('Bigilla'), url('https://fonts.cdnfonts.com/s/34031/Bigilla.woff') format('woff');
}

@font-face {
    font-family: 'Bigilla';
    font-style: normal;
    font-weight: 700;
    src: local('Bigilla'), url('https://fonts.cdnfonts.com/s/34031/Bigilla-Bold.woff') format('woff');
}


.section-bg {
    background-image:url('images/background.png');
    height: 900px;
    background: linear-gradient(116.49deg, #C2C6BE 5.91%, #DFCEB6 99.95%);


}
.manu1{
padding-top: 37px;
}
.bella{
    margin-left:140px;
}
.rect{
    margin-top: -800px;
    z-index:1;
}

.section-left {
    display: flex;


}

.list {
    margin-right: 140px;


}
.list li{
    color:yellow;
}
.icon {
    margin-top: 160px;
    margin-left: 20px;

}

.question-mark {
    padding-top: 70px;
    padding-bottom: 45px;
    width: 26px;
    height: 26px
}

.heart-mark {
    padding-top: 45px;
    padding-bottom: 45px;
    width: 26px;
    height: 26px
}

.search-mark {
    padding-top: 45px;
    padding-bottom: 45px;
    width: 26px;
    height: 26px
}
.trending-heading{
    font-family: 'Brasley';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 40px;
text-align: center;
margin-left: 50px;
color: #2F2649;

}
.trending-paragraph{
    font-family: 'Brasley';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-left: 20px;
line-height: 20px;
/* or 125% */

text-align: center;

color: #000000;

}

.main-img {
    width: 530px;
    height: 560px;
    margin-left: 10px;
    margin-top: 120px;
}
.back-img-1{
    z-index: -1;
    margin-left: -620px;
    margin-top: -90px;
}
.back-img-2{
    z-index: -1;
    margin-top: -490px;
}
.main-title p {


    font-family: 'Bigilla';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    margin-top: 160px;
    margin-left: 0px;

    /* or 104% */


    color: #2F2649;
}

.main2{
    text-align: center;
    margin-left: 300px;
}
.new-arrival p {
    width: 131px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    margin-left: 0px;

}
.trend-paragraph{
    font-family: 'Brasley';
font-style: normal;
font-size: 16px;

height: 40px;
text-align: center;
}
.nav-link {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
padding-top: 43px;
color: #4F433F !important;

}
.nav-item{
    align-items: center;
}
.image3 {
    background: rgba(200, 172, 161, 0.26);
    border-radius: 8px;
    width: 70%;
    height: 133px;
    border-radius: 8px;
    display: flex;
    margin-left: 0px;
    margin-top: 100px;
}


.img1 {
    width: 23%;
    height: 104px;
    margin-top: 20px;
    margin-left: 20px
}
.line{
    margin-top: -5px;

}
.img2 {
    width: 23%;
    height: 104px;
    margin-top: 20px;
    margin-left: 20px
}

.img3 {
    width: 23%;
    height: 104px;
    margin-top: 20px;
    margin-left: 20px
}
.img4-1{
   margin-bottom:10px ;
}
.img4-div{
 margin-left: 380px;
 margin-top: 40px;
 width: 100%;

}


.container-fluid{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0) !important;
    padding-left: var(--bs-gutter-x, 0) !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
@media only screen and (max-width: 600px) {
    .trending-heading{
        margin-left: 15px;
        font-size: 30px;
    }
    .trending-paragraph{
        margin-left: 15px;
    }
    .nav-link{
      margin-left: 150px;
    }
    .bella{
        margin-left: 10px;
    }
    .section-bg{
        height: 1000px;
    }


.image3 {
    background: rgba(200, 172, 161, 0.26);
    border-radius: 8px;
    width: 90%;
    height: 143px;
    border-radius: 8px;
    display: flex;
    margin-left: 20px;
    margin-top: 300px;
}
    .img1 {
        width: 24%;
        height: 104px;
        top: 620px;
        left: 782px;
        margin-top: 20px;
        margin-left: 20px
    }

    .img2 {
        width: 24%;
        height: 104px;
        top: 620px;
        left: 919px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .img3 {
        width: 24%;
        height: 104px;
        top: 620px;
        left: 1056px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .new-arrival p{
        margin-left:30px
    }
    .main-img{

        width:300px;
        height:200px;
        margin-top: 30px;
        margin-left:-0.6px;
        padding-left:30px
    }
    .icon{
        margin-top: -20px;
        margin-left: 30px;
    }
    .line{
        margin-left: 30px;
    }
    .main-title{
        position: absolute;
        margin-top: -170px;
        margin-left: 30px;
    }
    .main-title p {


        font-family: 'Bigilla';
        font-style: normal;
        font-weight: 700;
        font-size: 66px;
        line-height: 60px;
        margin-top: 237px;
        margin-left: 0px;
        text-align: start;

        /* or 104% */


        color: #2F2649;
    }
    .back-img-1{
        display: none;
    }
    .back-img-2{
        display: none;
    }

}


.first-shoes{
    width: 80%;
height: 196px;margin-top: 50px;margin-left: 15px;
}
.shoes-second{
    width: 80%;
height: 228px;

                margin-top: 20px;
                margin-left:45px;
}
.shoes-third{

                width: 80%;
height: 195px;
margin-top: 50px;
margin-left: 12px;
}
.shoes-fourth{

                width: 80%;
height: 212px;
margin-top: 50px;
margin-left: 15px;
}
.card-back{
   height:339px;
   background: rgba(200, 172, 161, 0.2);
   border-radius: 8px;
     width:100%;
}
.inner-card-div{
    display: flex;
    background: #F4EEEC;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
border-radius: 8px;
width: 80%;
height: 79.03px;
margin-left: 20px;
}

.price{
    margin-top: 10px;
    margin-left: 20px;



}
.price p{
    font-weight: 500;
font-size: 16px;
}
.errow{
        margin-left: 70px;
        margin-top:30px
}
.left-Arrow img{
    margin-top: 160px;
    margin-left: -50px;
}
.right-Arrow img{
    margin-top: 160px;
    margin-left: 70px;
}
.main-div{
    width: 1000px;
    border: none;

}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none !important;
    border-radius: 0.25rem;

}

@media only screen and (max-width:600px) {
    .card-back{
        height:239px;
        background: rgba(200, 172, 161, 0.2);
        border-radius: 8px;
          width:80%;
     }


}
.carousel-control-prev1 {
    left: auto !important;
}
.pictures{
    width: 100%;
}

.carousel-control-next1{

    position: absolute !important;
    top: 50px !important;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px !important;
    padding: 0;
    /* color: #fff; */
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1 !important;


}
.carousel-control-next1 {
    right: auto !important;
}
 .carousel-control-prev1 {
    position: none !important;
    top: 80px !important;
    bottom: 0;
   margin-top: 80px;
    display: flex;
    margin-top:100px;
    align-items: center;
    justify-content: center;
    width: 24px !important;
    padding: 0;
    /* color: #fff; */
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1 !important;

}




@media only screen and (max-width: 600px){
    .info-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
      }
      .heading{
        margin-left: 40px;
      }
      .images{
        margin-left: 50px;
      }

  }

  .info1{
    margin-left:95px;
    background: rgba(200, 172, 161, 0.2);
    border-radius: 8px;
    width: 60px;
height: 60px;

  }
  .info-1 > div {
    background: #ffff;;
    margin: 10px;
    padding: 20px;
  }
  .info-1>h1{
    display: flex;
    font-family: 'Brasley';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    align-content: center;
    text-align: center;
    padding-left:22px;

    color: #000000;

  }
  .info-1>p{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    padding-left:-4px;
    color: #6B7280;
  }
  .info-1{
    display: flex;
    background-color: #ffff;
    margin-top:70px;
    border-radius: 8px;
    box-shadow: 10px 10px rgba(199, 185, 192, 0.3);;

    margin-bottom:90px;
}

.section4{
    margin-left: 60px;
}


.section4-main-div{
    background: rgba(200, 172, 161, 0.2);
    border-radius: 8px;
    margin-top: 1000px;
    margin-left: -30px;
}
.section4-left-div{
display: flex;
}
.ractangle{
    width: 200px;
height: 182px;
margin-top: 50px;
margin-left: 60px;

}
.inner-title-section4-left{

   margin-top: 100px;
   margin-left: -120px;
font-family: 'sans-sarif';

font-weight: 700;
font-size: 50px;
line-height: 50px;
color: #2F2649;
}
.nike-shoes{
    width:100%;

height: 349px;
margin-left: 116px;

}
.section4-right-div-top{
    background: rgba(200, 172, 161, 0.2);
    background: rgba(200, 172, 161, 0.2);
    border-radius: 8px;
    display: flex;
    margin-left: 30px;
    height: 50%;




}
.section4-right-div-bottom{
    background: rgba(200, 172, 161, 0.2);
    background: rgba(200, 172, 161, 0.2);
    border-radius: 8px;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    height: 45%;
}
.bigsale{
    font-family: 'Brasley';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
margin-top: 50px;
margin-left: 40px;
/* identical to box height, or 125% */

text-align: center;

color: #2F2649;

}
.newitem{
    font-family: 'Brasley';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
/* identical to box height, or 109% */

text-align: center;

color: #7287BB;
margin-top: 15px;
margin-left: 40px;
}
.bigsale1{
    font-family: 'Brasley';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
margin-top: 50px;
margin-left: 40px;
/* identical to box height, or 125% */

text-align: center;

color: #2F2649;

}
.newitem1{
    font-family: 'Brasley';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
/* identical to box height, or 109% */

text-align: center;

color: #7287BB;
margin-top: 15px;
margin-left: 40px;
}

.bag img{
    margin-top: -71px;
    margin-left: -10px;
}
.shirt img{
    margin-top: 43px;
    margin-left:15px;
}
@media only screen and (max-width: 600px){
    .section4{
        margin-left: 0px;
    }

    .nike-shoes{
        width: 100px;
    height: 349px;
    margin-top: 30px;
    margin-left: 50px;
    }
    .nike-shoes img{
        width: 200%;
    }
    .section4-right-div-top{
        margin-left: -50px;

    }
    .section4-main-div{
        height:500px;
        background: rgba(200, 172, 161, 0.2);
        border-radius: 8px;
        margin-top: 0;
        margin-left: 5px;
        text-align: center;
    }
    .bag img{
        margin-left: 50px;
        margin-top: 100px;
        width: 60%;
    }
    .shirt img{
        margin-left: 50px;
        margin-top: 100px;
        width: 70%;
    }
    .bigsale1{
        margin-left: -20px;

    }
    .newitem1{
        margin-left: -20px;
    }
    .section4-right-div-top{
        background: rgba(200, 172, 161, 0.2);
        background: rgba(200, 172, 161, 0.2);
        border-radius: 8px;
        display: flex;
        margin-top: 30px;
        margin-left: 5px;
        height: 50%;




    }
    .section4-right-div-bottom{
        background: rgba(200, 172, 161, 0.2);
        background: rgba(200, 172, 161, 0.2);
        border-radius: 8px;
        display: flex;
        margin-left: 5px;
        height: 50%;




    }
}












.part{
    width: 100%;
height: 289px;

background: #FFFFFF;
/* opacity: 0.6; */
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}
.part-top{
    display:flex;

    margin-left: 40px;

}
.girl-image{
    margin-top: 56px;

}
.part-title{
    margin-top: 50px;
    margin-left: 20px;
}
.light{
    margin-top:-20px
}
.bold{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;

font-size: 20px;
line-height: 16px;
/* identical to box height */

text-align: center;

color: #000000;
}
.sign{
    margin-left: 96px;
    margin-top: 76px;
}
.para{
    margin-top: 33px;
    width: 253px;
height: 96px;
}
.para p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-left: 40px;
color: #6B7280;
text-align: start;

}
.testmonial{
    width: 262px;
height: 60px;
margin-left: 550px;
margin-top: 80px;
margin-bottom: 50px;
}
.testmonial p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}


@media only screen and (max-width: 600px){
    .testmonial{
        margin-left: 90px;
    }
    .part{
        margin-bottom: 20px;
    }
}




footer{
    background: #6D8ABB;
    display: flex;
    margin-top: 100px;
}
.name{

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: -0.204545px;

color: #FFFFFF;
}
.first{
    margin-top: 136;
    margin-left: 123px;
}
.address{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
letter-spacing: -0.204545px;

color: #F3F7FA;

mix-blend-mode: normal;
}
.second{
    margin-top:136px
}
.nav-link2{
    color: white;
    width: 30%;
}
.nav-item2{
    width: 80px;
}
.links{
    margin-top: 135px;
    display: flex;
    margin-left: 90px;
}
.facebook{
    margin-right: 60px;
}
.instagram{
    margin-right: 60px;
}
@media only screen and (max-width: 600px){
    .first{
        margin-top: 10px;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin-top: -230 !important;
    }
    .links{
        margin-top: -150px;
    }
    .linkss{
        margin-top: -170px;
    }
    footer{
        height:50%;
    }

}

.carousel-inner1 {
    padding: 1em;
  }
  .card1 {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev1,
  .carousel-control-next1 {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }



@media (min-width: 768px) {
    .carousel-item1 {
      margin-right: 0;
      flex: 0 0 25%;
      display: block !important;
    }
    .carousel-inner1 {
      display: flex !important;
    }
  }
  .card1 .img-wrapper1 {
      max-width: 100%;
      height: 13em;
      display: flex !important;
      justify-content: center;
      align-items: center;
  }
  .card1 img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card1 .img-wrapper1 {
      height: 17em;
    }
    .carousel-item1{
        display: block;
        flex: 0 0 100%;

    }
    .carousel-inner1 {
        display: flex !important;
      }
  }
