*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Work+Sans:ital,wght@1,100;1,400&display=swap');
header{
width:100%;
height: 885px;
background-color: #08001A;
background-image: url("/crypto-figma/images/union.png");



}
.main{

}
.bg-img{

margin-top: -100px;
margin-left: 160px;
width: 882px;
height: 832px;
}
.main-heading{
    width: 966px;
height: auto;
text-align: center;
margin-top: -571px;
margin-left: 190px;
}
.main-heading p{
    font-family: 'IvyMode';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 150%;
color: #F7F7F7
}
.top-text{
    font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #8F60FF;
margin-left: 164px;
}
.slider{
    display: flex;
    gap: 25px;
    margin-top: 178px;
    margin-bottom: 26px;
    margin-left: -30px;
}

.cards{
    width: 246px;
height: 242px;
border-radius: 10px;
}

.first{
    background: #FEE69A;
}
.first-image{
    width: 140px;
height: 210px;
margin-left: 40px;
margin-top: 25px;
}
.second{
    background: linear-gradient(134.49deg, #BEA9ED 2.8%, #BCD4FA 92.19%);
}
.second-image{
    width: 140px;
    height: 210px;
    margin-left: 40px;
margin-top: 25px;
}
.third{
    background: #FEC9DD;
}
.third-image{
    width: 193px;
height: 193px;
margin-top: 40px;
margin-left:10px;
}
.fourth{
    background: #EFCEFF;
}
.fourth-image{
    width: 150px;
height: 194px;
margin-top: 40px;
margin-left: 40px;
}
.fifth{
    background: #DAD3FE;
}
.fifth-image{
    width: 180px;
height: 180px;
margin-top: 60px;
margin-left: 40px;
}
.account {
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
margin-top: 20px;
padding-top: 20px;
    padding-left: 10px;
/* identical to box height, or 33px */


color: #2F2D2D;

}
.account p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
padding-top: 10px;
/* or 27px */


color: #6B7280;
}

.overlay{
    opacity: 0;
    background-color: white;
}
.cards:hover{
    width:323px;
    height: 383px;
    border: solid white 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    margin-top: -40px;
    border-radius: 18px;
}
.overlay:hover{
    opacity:1;
    transition: 0.5s ease;
}











.section2{
    width: 1129px;
height: 231px;
background: #F8F5FF;
border-radius: 12px;
margin:251px 76px;
display: flex;
justify-content: space-around;
}
.card2{
    width: 206px;
height: 203px;
background: #F8F5FF;
margin-top: 14px;

}
.card2:hover{
    background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 18px;
}
.B-logo{
    margin-top: 22px;
    margin-left: 24px;
    width: 40px;
    height: 40px;
}
.M-logo{
    margin-top: 22px;
    margin-left: 24px;
    width: 40px;
    height: 46px;
}
.D-logo{
    margin-top: 22px;
    margin-left: 24px;
    width: 28px;
height: 44px;

}
.F-logo{
    margin-top: 22px;
    margin-left: 24px;
    width: 35px;
    height:38px;
}
.info{
    display: flex;
    margin-top: 6px;
    margin-left: 24px;
}
.bit-coin{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


color: #515151;
}
.diff{
    width: 56px;
height: 26px;
background: #6DBC89;
border-radius: 8px;
color: white;
margin-left: 27px;
padding-left: 3px;
}
.low{
    width: 56px;
    height: 26px;
    background:  #F27247;
    border-radius: 8px;
    color: white;
    margin-left: 27px;
    padding-left: 3px;
    }
.bold{
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 150%;
margin-left: 24px;
/* identical to box height, or 33px */


color: #2F2D2D;
margin-left: 24px;
margin-top: 10px;
}
.light{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


color: #515151;
margin-left: 24px;
margin-top: -10px;
}







.HIW{
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 70px;
text-align: center;
color: #2F2D2D;
}
.para{
    width: 784px;
height: 48px;
margin-left: 200px;
}
.para p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 150%;
text-align: center;

color: #515151;

}
.section3{
    margin-top: -50px;
}
.card3{
    margin-top: ;
}
.cloud{
    width: 97px;
height: 65px;
margin-top: 45px;
margin-left:100px
}
.mobile{
    margin-top: 30px;
margin-left:100px;
    width: 78px;
height: 78px;
}
.arrow{
    margin-top: 43px;
margin-left:100px;
    width: 110px;
height: 61px;
}
.doller{
    margin-top: 30px;
margin-left:100px;
    width: 95px;
height: 75px;
}
.step{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;

color: #515151;
margin-left: 25px;
margin-top: 70px;
}
.download{
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

text-align: center;

color: #000000;

border: 0.5px solid #FFFFFF;
margin-left: 25px;
margin-top: 20px;
}
.para2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
margin-left: 25px;
color: #515151;
width: 246px;
height: 72px;
}
.dotline1{
    margin-top: -300px;
    margin-left: 250px;
}
.dotline2{
    margin-top: 0px;
    margin-left: 550px;
}
.dotline3{
    margin-top: -10px;
    margin-left:900px;
}







@media only screen and (max-width: 600px){
.bg-img{
    width: 432px;
height: 432px;
margin-left: 0px;
}
.main-heading{
    width: 466px;
    height: auto;
    margin-left: 0px;
    margin-top: -200px;
}
.main-heading p{
    font-size: 45px;
}
.slider{
    display: flex;
    flex-direction:column;
    margin-left: 100px;
}
header{
    height: 2000px;

}
.section2{
   display: flex;
   flex-direction:column;
   height: 900px;
   width: 300px;

}
.card2{
    margin-left: 40px;
}

.cards:hover{
margin-left: -35px;
}
.para{
    margin-left: 10px;
    width: 454px;
}
.dotline1,.dotline2,.dotline3{
 display: none;
}
.cloud, .mobile , .doller, .arrow {
    margin-left: 200px;
}
.para2{
    margin-left: 130px;
}
}



