*{
    margin: 0;
    padding: 0;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Header%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@font-face {
    font-family: 'IvyMode';
    src: url('../crypto-figma/font1/IvyMode-Bold.ttf');
}

header{
width:100%;
height: 915px;
background-color: #08001A;
background-image: url("/crypto-figma/images/union.png");
}

.bg-img{

margin-top: -100px;
margin-left: 160px;
width: 882px;
height: 832px;
}
.main-heading{
    width: 100%;
text-align: center;
padding: 0px 50px;
margin-top: -571px;
/* margin-left: 190px; */
}
.main-heading p{
    font-family: 'IvyMode' ;
font-style: normal;
font-weight: 700;
font-size: 66px;
line-height: 150%;
color: #F7F7F7;
justify-content: center;
}
.top-text{
    padding-top: 50px;
    font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #8F60FF;
margin-left: 164px;
}
.slider{
    display: flex;
    gap: 25px;
    margin-top: 188px;
    margin-bottom: 26px;
    margin-left: -30px;
}

.cards{
    width: 246px;
height: 242px;
border-radius: 10px;
margin-top: -40px;


}

.first{
    background: #FEE69A;
}
.first-image{
    width: 140px;
height: 210px;
margin-left: 40px;
margin-top: 25px;
}
.second{
    background: linear-gradient(134.49deg, #BEA9ED 2.8%, #BCD4FA 92.19%);
}
.second-image{
    width: 140px;
    height: 210px;
    margin-left: 40px;
margin-top: 25px;
}
.third{
    background: #FEC9DD;
}
.third-image{
    width: 193px;
height: 193px;
margin-top: 30px;
margin-left:10px;
}
.fourth{
    background: #EFCEFF;
}
.fourth-image{
    width: 150px;
height: 194px;
margin-top: 30px;
margin-left: 40px;
}
.fifth{
    background: #DAD3FE;
}
.fifth-image{
    width: 180px;
height: 180px;
margin-top: 30px;
margin-left: 40px;
}
.account {
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
height: 125px;
margin-top: -32px;
padding-top: 20px;
    padding-left: 10px;
/* identical to box height, or 33px */


color: #2F2D2D;

}
.account p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
padding-top: 4px;
/* or 27px */


color: #6B7280;
}

.overlay{
    opacity: 0;
    background-color: white;
    margin-top: 56px;

}
.cards:hover {

    height: 460px;
    width: 348px;
    border: solid white 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s ease;
    border-radius: 15px;
    margin-top: -75px;



}
.cards:hover .overlay{
    opacity:1;
    transition: 0.5s ease;


}


.cards:hover .first-image {
    width:177px;
    height: 266;
    margin-left: 40px;

}
.cards:hover .second-image {
    width:177px;
    height: 266;
    margin-left: 60px;

}
.cards:hover .third-image {
    width:177px;
    height: 266;
    margin-left: 60px;

}
.cards:hover .fourth-image {
    width:177px;
    height: 266;
    margin-left: 60px;

}
.cards:hover .fifth-image {
    width:177px;
    height: 266;
    margin-left: 60px;

}








/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%section2%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


.section2{
    width: 80%;
height: 231px;
background: #F8F5FF;
border-radius: 12px;
margin-top:251px;
margin-bottom: 251px;
margin-left:10%;
margin-right: 10%;
display: flex;
justify-content: space-around;
}
.card2{
    width:25%;
height: 203px;
background: #F8F5FF;
margin-top: 14px;

}
.card2:hover{
    background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 18px;
}
.B-logo{
    margin-top: 22px;
    margin-left: 24px;
    width: 40px;
    height: 40px;
}
.M-logo{
    margin-top: 22px;
    margin-left: 24px;
    width: 40px;
    height: 46px;
}
.D-logo{
    margin-top: 22px;
    margin-left: 24px;
    width: 28px;
height: 44px;

}
.F-logo{
    margin-top: 22px;
    margin-left: 24px;
    width: 35px;
    height:38px;
}
.info{
    display: flex;
    margin-top: 6px;
    margin-left: 24px;
}
.bit-coin{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


color: #515151;
}
.diff{
    width: 56px;
height: 26px;
background: #6DBC89;
border-radius: 8px;
color: white;
margin-left: 27px;
padding-left: 3px;
}
.low{
    width: 56px;
    height: 26px;
    background:  #F27247;
    border-radius: 8px;
    color: white;
    margin-left: 27px;
    padding-left: 3px;
    }
.bold{
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 150%;
margin-left: 24px;
/* identical to box height, or 33px */


color: #2F2D2D;
margin-left: 24px;
margin-top: 10px;
}
.light{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


color: #515151;
margin-left: 24px;
margin-top: -10px;
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Section3$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */



.HIW{
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 70px;
text-align: center;
color: #2F2D2D;
}
.para{
    width: 100%;
}
.para p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 150%;
text-align: center;

color: #515151;

}
.section3{
    margin-top: -50px;
}
.card3{
    margin-top: 80px;
}
.cloud{
    width: 97px;
height: 65px;
margin-top: 45px;
margin-left:100px
}
.mobile{
    margin-top: 30px;
margin-left:100px;
    width: 78px;
height: 78px;
}
.arrow{
    margin-top: 43px;
margin-left:100px;
    width: 110px;
height: 61px;
}
.doller{
    margin-top: 30px;
margin-left:100px;
    width: 95px;
height: 75px;
}
.step{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;

color: #515151;
margin-left: 25px;
margin-top: 70px;
}
.download{
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

text-align: center;

color: #000000;

border: 0.5px solid #FFFFFF;
margin-left: 25px;
margin-top: 20px;
}
.para2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
margin-left: 25px;
color: #515151;
width: 246px;
height: 72px;
}
.dotline1{
    margin-top: -300px;
    margin-left: 290px;
}
.dotline2{
    margin-top: 0px;
    margin-left: 570px;
}
.dotline3{
    margin-top: -10px;
    margin-left:880px;
}




/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Section4$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */




.section4{
    margin-top: 450px;
    width: auto;
    height: auto;

}
.top{
    margin-left: 71px;
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 70px;
/* identical to box height, or 175% */
width: 369px;
height: 70px;
text-align: center;

color: #2F2D2D;
}
.top p{

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


color: #515151;

}
.boy{
    width: 471px;
height: 471px;
}
.card4{
    display: flex;
    margin-top: 52px;
    margin-left:-10px;
    margin-bottom: -60px;
}
.logo{
    width: 44px;
height: 44px;
    margin-left: 100px;
    margin-top: 50px;
}
.disc{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

margin-top: 50px;
margin-left: 15px;

color: #515151;
}
.disc p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


color: #2F2D2D;

}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Section5$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */



.section5{
    background-image: url("/crypto-figma/images/bg.png");
    margin-top: 180px;
}
.trader{
    width: 100%;
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 70px;
/* or 175% */
text-align: center;

color: #2F2D2D;
}
.cards2{
    display: flex;
    justify-content: space-around;
    margin: 0px 150px;
}
.card5{
    margin-top: 40px;
    width: 290px;
height: 364px;
    background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 18px;

}
.image{
    width: 90px;
height: 67px;
margin-top: 50px;
margin-left: 100px;
}
.buy{
    margin-top: 40px;
}
.buy p{

    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

text-align: center;

color: #000000;

border: 0.5px solid #FFFFFF;

}
.para3{
    margin-top: 40px;
}
.para3 p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

color: #515151;

}
.button{
width: 121px;
height: 36px;
border: 1px solid #8F60FF;
border-radius: 4px;
margin-top:24px;
margin-left: 84px;
padding: 7px 13px;
}
.button p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #8F60FF;

}




/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Footer$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
footer{
    margin-top: 100px;
    width: 100%;
height: 382px;
background: #FFFFFF;
background-image: url("/crypto-figma/images/bg.png");
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
display: flex;

}
.left-footer{
    font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

text-align: center;
margin-top: 100px;
margin-left:118px
color: #000000;
}
.left-footer p{
    height: 24px;
    margin-top: 24px;
    margin-left:118px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;

color: #515151;
}
.right-footer{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
/* identical to box height */

letter-spacing: -0.231818px;

color: #8F60FF;
margin-left: 150px;
margin-top: 100px;

}
.right-footer p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
margin-top: 15px;
/* identical to box height */

letter-spacing: -0.204545px;

color: #515151;
}
.ready
{
    margin-left:-400px;
}
.get-start{
    background: #8F60FF;
border-radius: 4px;
width: 175px;
height: 50px;
margin-left: -1000px;
margin-top: 230px;
padding-left: 45px;
padding-top: 10px;
}
.get-start p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 26px;
/* identical to box height */

letter-spacing: -0.231818px;

color: #FFFFFF;
}









/* ___________________________________________Mobile Responsive__________________________________ */


@media only screen and (min-width:258px) and (max-width: 912px){
.bg-img{
    width: 432px;
height: 432px;
margin-left: 0px;
}
.main-heading{
    width: 466px;
    height: auto;
    margin-left: 10px;
    margin-top: -200px;
}
.main-heading p{
    font-size: 45px;
}
.slider{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}
header{
    height: 2300px;
    width:130%;

}
.cards:hover .overlay{
    margin-top:55px ;
}
.section2{
   display: flex;
   flex-direction:column;
   height: 900px;
   width: 300px;
   margin-left: 100px;
   margin-top: 160px;



}
.card2{
    margin-left: 40px;
}
.cards{
    margin-top: 30px;
}
.cards:hover{

width: 300px;
height: 370px;
margin-left: -30px;
margin-top: 20px;
}
.cards:hover .first-image {
    width:107px;
    height: 206;
    margin-left: 80px;
    margin-top: -5px;

}
.cards:hover .second-image {
    width:107px;
    height: 206;
    margin-left: 80px;
    margin-top: -5px;
}
.cards:hover .third-image {
    width:107px;
    height: 206;
    margin-left: 80px;
    margin-top: -5px;
}
.cards:hover .fourth-image {
    width:107px;
    height: 206;
    margin-left: 80px;
    margin-top: -5px;

}
.cards:hover .fifth-image {
    width:107px;
    height: 206;
    margin-left: 80px;
    margin-top: -5px;
}
.para{
    margin-left: 10px;
    width: 454px;
}
.para p{
    margin-left: 31px;
}
.dotline1,.dotline2,.dotline3{
 display: none;
}
.cloud, .mobile , .doller, .arrow {
    margin-left: 180px;
}
.para2{
    margin-left: 113px;
}
.step {
    margin-left: 90px;
}
.download{
    margin-left: 90px;
}
.HIW{
    margin-left: 100px;
}
.section4{
    margin-top: 0px;
    margin-left: -30px;
}
.card4{
    margin-left: 30px;
}
.boy img{
    width: 371px;
    height: 371px;
    margin-top: 100px;
    margin-left: 70px;
}
.cards2{
    display: flex;
    flex-direction: column;
}
.trader{

    width: 339px;
    height: 140px;
    margin-left: 83px;
    font-size: 30px;


}
.card5{
    margin-left: -50px;
    margin-bottom: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height:55%
}
.ready{
    margin-left: 0;
}
.left-footer{
    margin-left: -120px;
}
.right-footer{
    margin-left: 50px;
}
}




/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%section6%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


.section6{
    margin-top: 180px

}

.part{
    width: 100%;
height: 289px;

background: #FFFFFF;
/* opacity: 0.6; */
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}
.part-top{
    display:flex;

    margin-left: 40px;

}
.girl-image{
    margin-top: 56px;

}
.part-title{
    margin-top: 50px;
    margin-left: 20px;
}
.light1{
    margin-top:-20px
}
.bold1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;

font-size: 20px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: #000000;
}
.sign{
    margin-left: 76px;
    margin-top: 46px;
}
.para4{
    margin-top: 33px;
    width: 253px;
height: 96px;
}
.para4 p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-left: 40px;
color: #6B7280;
text-align: start;

}
.testmonial{
    width: 262px;
height: 60px;
margin-left: 550px;
margin-top: 80px;
margin-bottom: 50px;
}
.testmonial p{

    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}


@media only screen and (min-width:1px) and (max-width: 600px){
    .testmonial{
        margin-left: 90px;
    }
    .part{
        margin-bottom: 20px;
        margin-left: 50px;
    }
}




@media (min-width: 1301px){
    .slider{

        justify-content: center;
      margin-top: 530px;


    }
    .cards{
        width: 456px;
    height: 452px;
    border-radius: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 20px;


    }
    .cards:hover{
        height: 660px;
    width: 548px;

    }
    .overlay{
        margin-top: 72px;

    }
    header{
        height: 1530px;
        width: 100%;
    }
    .main-heading{
        align-items: center;
        margin-left: 550px;
    }
    .main-heading p{
        font-size: 100px;
        width: 140%;
    }
    .first-image , .second-image, .third-image,.fourth-image, .fifth-image{
        width: 340px;
    height: 410px;
    margin-left: 40px;
    margin-top: 25px;
    }
    .cards:hover .first-image{
        width: 440px;
        height: 450px;

    }
    .cards:hover .second-image{
        width: 440px;
        height: 450px;

    }
    .cards:hover .third-image{
        width: 440px;
        height: 450px;

    }
    .cards:hover .fourth-image{
        width: 440px;
        height: 450px;

    }
    .cards:hover .fifth-image{
        width: 440px;
        height: 450px;

    }
    .section2 {
        width: 1824px;
        height: 420px;
        background: #F8F5FF;
        border-radius: 12px;
        margin: 251px 336px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .para {
        width: 884px;
        height: 63px;
        margin-left: 800px;
        justify-content: center;
        align-items: center;
    }
    .dotline1{
        margin-left: 1430px;
    }
    .dotline2{
        margin-left: 1086px;
    }
    .dotline3{
        margin-left: 784px;
    }
    .trader{
        margin-left: 950px;
    }
    .testmonial{
        margin-left:1000px
    }
    .card3{
        width: 100px;
    }
    .cloud, .arrow, .mobile ,.doller{
        margin-left:8px

    }
    .right-footer{
        margin-left: 1210px;
    }
    .get-start{
        margin-left: -2060px;
    }
    .cards2 {
        display: flex;
        /* justify-content: space-around; */
        margin: 0px 450px;
        gap: 300px;
        gap: -28px;
    }
    .para2{
        margin-left:-50px;
    }
}
